<a href="https://colab.research.google.com/github/Favour-Aransiola/Prediction-of-CSTR-Reaction-Order/blob/main/prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Predicting Reaction Order From CSTR Process Data**

Data Features: Concentration of A in the inlet flow, Temperature of the inlet flow, Temperature of the inlet coolant flow, Coolant flow-rate, Concentration of B in the outlet flow, Temperature of the outlet flow, Temperature of the outlet coolant flow.

In [1]:
import numpy as np
import pandas as pd

In [18]:
control_data =np.load('./cstr_rawdata.npy')

In [43]:
two_hundred_minute_data = control_data[:,1393:1400]
class_labels = control_data[:,1400]
domain_labels = control_data[:,1401]
noise=control_data[:,1402]
rxn_order = control_data[:,1403]


rxn_order = np.reshape(rxn_order,(-1,1))

In [45]:
# Adding the feature to the label for complete dataset
dataset = np.concat([two_hundred_minute_data,rxn_order],axis=1)

In [48]:
df =pd.DataFrame(dataset,columns=['Concentration of A in the inlet flow', 'Temperature of the inlet flow', 'Temperature of the inlet coolant flow', 'Coolant flow-rate', 'Concentration of B in the outlet flow', 'Temperature of the outlet flow', 'Temperature of the outlet coolant flow','Reaction Order'])
df['Reaction Order'].value_counts()

Reaction Order
1.0    2080
0.5     260
1.5     260
2.0     260
Name: count, dtype: int64